.gradient-custom {
    /* fallback for old browsers */
    background: #f3f2f5;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(168, 85, 17), rgb(209, 59, 167));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(64, 14, 213), rgba(37, 117, 252, 1))
    }